@import "variables.scss";
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.login-form{
  /*padding: 1em;
  border: 1px solid #ccc;
  border-radius: $input-border-radius;
  box-shadow: 0 0 20px 2px rgba(0,0,0,.25);*/
}